p {
  margin: 0;
}

.box {
  padding: 10px;
  width: 300px;
  border: solid 1px #ccc;
  box-shadow: 7px 4px 3px rgba(0,0,0,0.2);
}

.smallbox {
  padding: 10px;
  width: 300px;
  margin: 10px auto;
  border: solid 1px #ccc;
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}